In [2]:
t1 = () #empty tuple
t1

()

In [17]:
t2 = (1,2,3,4) #creating a tuple with 4 elements
t2

(1, 2, 3, 4)

In [5]:
t3 = ('a','b','c','d') #creating a tuple of 4 characters
t3

('a', 'b', 'c', 'd')

In [6]:
t4 = 'a','b','c','d' #creating a tuple without parenthesis 
t4

('a', 'b', 'c', 'd')

In [3]:
t5 = (4,) #to create a tuple of single element, it should be followed by a comma
type(t5)

tuple

In [30]:
t6 = tuple('apple') #tuple function with string as argument
t6

('a', 'p', 'p', 'l', 'e')

INBUILT FUNCTIONS FOR TUPLES

In [4]:
t7 = ('apple')
print(len(t7))

5

In [10]:
max(t7)

'p'

In [11]:
min(t7)

'a'

In [15]:
t7.index('p')

1

In [18]:
t7.count('p')

2

INDEXING AND SLICING

In [1]:
t9 = 'apple'
t9[2]

str

In [22]:
t9[-2]

'l'

In [24]:
t9[0:]

'apple'

In [26]:
t9[0:3]

'app'

OPERATIONS ON TUPLES

In [22]:
#  + operator
t1 = (1,2)
t2 = (3,4)
t1+t2

(1, 2, 3, 4)

In [30]:
#  * operator
t1*3

(1, 2, 1, 2, 1, 2)

PASSING VARIABLE LENGTH ARGUMENTS TO TUPLES

In [5]:
def createtup(*args):
    print(args)
createtup(123)

(123,)

In [7]:
def sum_all(*args):
    s = 0
    for i in args:
        s = s + i
    print(s)
sum_all(1,2,3)

6

LIST AND TUPLES

In [2]:
l1 = [1,2,3,4]
t1 = tuple(l1)
t1

(1, 2, 3, 4)

SORT TUPLES

In [8]:
t2 = (2,4,3,1)
l2 = list(t2)
l2.sort()
t2 = tuple(l2)
t2

(1, 2, 3, 4)

TRAVERSE TUPLES FROM LIST

In [6]:
t = [(1,"ishan"),(2,"amit"),(3,"raj")] #list of tuple
for no,name in t:
    print(no,name)

1 ishan
2 amit
3 raj

THE zip() FUNCTION

In [11]:
l1 = [1,2,3]
l2 = 'xyz'
list(zip(l1,l2)) #will result in list of tuple

[(1, 'x'), (2, 'y'), (3, 'z')]

In [1]:
l3 = ['laptop','desktop','mobile']
l4 = [40000,30000,20000]
t5 = tuple(zip(l3,l4))
t5

(('laptop', 40000), ('desktop', 30000), ('mobile', 20000))

THE INVERSE zip(*) FUNCTION

In [15]:
def print_all(country,capital):
    print(country)
    print(capital)
args = ('india','delhi')
print_all(*args)

india
delhi

In [16]:
x = [('apple',50000),('dell',30000)]
laptop,prize = zip(*x)
print(laptop)
print(prize)

('apple', 'dell')
(50000, 30000)

In [17]:
l1 = [1,2,3]
t1 = ('a','b','c')
x = list(zip((l1,t1)))
x

[([1, 2, 3],), (('a', 'b', 'c'),)]

In [ ]:
https://tinyurl.com/cse205data